<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8">
<title>Gestion des Montres</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
<!-- Brand -->
<a class="navbar-brand" href="#">Gestion Montres</a>
<!-- Links -->
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="/montres" >Home</a>
</li>
<!-- Dropdown -->
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
Montres
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="/add-montre">Ajouter</a>
<a class="dropdown-item" href="#">Lister</a>
<a class="dropdown-item" routerLink="/rechercheParCategorie" >Recherche Par
  Catégorie</a>
</div>
</li>
</ul>

<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-smartwatch" viewBox="0 0 16 16">
  <path d="M9 5a.5.5 0 0 0-1 0v3H6a.5.5 0 0 0 0 1h2.5a.5.5 0 0 0 .5-.5V5z"/>
  <path d="M4 1.667v.383A2.5 2.5 0 0 0 2 4.5v7a2.5 2.5 0 0 0 2 2.45v.383C4 15.253 4.746 16 5.667 16h4.666c.92 0 1.667-.746 1.667-1.667v-.383a2.5 2.5 0 0 0 2-2.45V8h.5a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5H14v-.5a2.5 2.5 0 0 0-2-2.45v-.383C12 .747 11.254 0 10.333 0H5.667C4.747 0 4 .746 4 1.667zM4.5 3h7A1.5 1.5 0 0 1 13 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 11.5v-7A1.5 1.5 0 0 1 4.5 3z"/>
</svg>

<ul class="navbar-nav ml-auto" >
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
  [username]
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="#">login</a>
<a class="dropdown-item" href="#">logout</a>
<a class="dropdown-item" href="#">Profile</a>
</div>
</li>
</ul>
</nav>
</body>
</html>
<router-outlet></router-outlet>